@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.container {
    margin: 0 10%;
}

body {
    font-family: "Poppins", sans-serif;
    /* letter-spacing: 0.8px; */
}
p {
    /* line-height: 20px; */
    font-size: 24px;
}
a {
    text-decoration: none;
}

.first-section {
    display: flex;
    align-items: center;
    margin: 100px 0px;
}
.first-section h1 {
    font-family: "Lora", serif;
    font-size: 85px;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}

.half-width {
    width: 50%;
    /* margin: 50px; */
}
.orange-highlight {
    color: orange;
}
.header-border {
    border-left: 5px solid red;
    padding-left: 20px;
}
.img-fluid {
    width: 100%;
}

p.content-details {
    padding-top: 30px;
    width: 75%;
}
.btn-red {
    font-size: 24px;
    background-color: #ff5959;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin-top: 10px;
    transition: all linear 0.2s;
    margin-top: 30px;
}

.btn-red:hover {
    background-color: orange;
}

p.scroll-down {
    padding-top: 30px;
}

.my-mission h1 {
    font-family: "Lora", serif;
    font-size: 45px;
    text-align: center;
}

.category {
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}
.my-mission img {
    width: 40%;
}
.content h3 {
    font-size: 32px;
    margin-top: 20px;
}
.content p {
    margin-top: 10px;
}
.mission {
    /* margin: 50px; */
    border-radius: 50px;
    padding: 50px;
    width: 25%;
}
.content-bg1 {
    background: #edf5f6;
}
.content-bg2 {
    background: #ffeeee;
}
.content-bg3 {
    background: #fff4d6;
}
.develop img {
    width: 90%;
}
.develop {
    display: flex;
    align-items: center;
    margin: 50px;
}

.develop h2 {
    font-size: 40px;
}
.develop p {
    margin-top: 40px;
}

.develop {
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.develop .explore-now {
    margin-top: 40px;
}
.global {
    display: flex;
    align-items: center;
    margin: 50px;
}

.global h2 {
    font-size: 40px;
}
.global p {
    margin-top: 40px;
}
.global .explore-now {
    margin-top: 40px;
}
.global img {
    width: 100%;
}

.global {
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
}

.corona h1 {
    font-family: "Lora", serif;
    font-size: 45px;
    text-align: center;
}
.app-feature {
    display: flex;
    align-items: center;
    margin: 50px;
}
.app-feature img {
    width: 90%;
}
.app-feature h2 {
    font-size: 50px;
}
.app-feature p {
    margin-top: 40px;
}
.corona .explore-now {
    margin-top: 40px;
}

.foot h1 {
    font-family: "Lora", serif;
    font-size: 45px;
    text-align: center;
    font-style: italic;
}
.foot h1 {
    color: white;
}
.highlight {
    color: #ff5959;
}
.foot p {
    text-align: center;
    color: white;
    font-size: 15px;
}
.foot {
    background: black;
}
